main{
    width: 100%;
}
a.text{
	color: #FFFFFF !important;
  	text-decoration: none;
}
a.footerhp{
	color: #9C9C9C !important;
  	text-decoration: none;
  	font-size: 10pt;
}
.hppicture{
	width: 50%;
}
header{
    width: 100%;
	background-color: #383838;
	height: 120px;
}
header img{
	float:left;
    width:100px; 
    height:100px;
}
header div{
	background-color: #595959;
	font-weight: bold;
	color: #FFFFFF;
}
nav{
	background-color: #595959;
}
.hyperlink{
	background-color:#ccc;
	text-align: center;
}
.tablehp{
	text-align: center;
	background-color:#707070;
}
.tableHetn{
	background-color:  #FF7400;
}
.tableNeHetn{
	background-color:  #2818B1;
}
.form{
	background-color: #707070;
	text-align: center;
	color: #FFFFFF;
}
footer{
	background-color: #383838;
	color: #9C9C9C;
}

